/* Container da página */
.container-enviar {
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* Título com cor verde */
.titulo {
  font-size: 28px;
  font-weight: bold;
  color: #2e7d32; /* verde */
  margin-bottom: 30px;
}

/* Botão para enviar a foto */
.btn-selecionar {
  background-color: #2e7d32;
  color: white;
  border: none;
  padding: 15px 25px;
  font-size: 18px;
  cursor: pointer;
  border-radius: 10px;
  display: flex;
  align-items: center;
  gap: 10px;
}

.btn-selecionar:hover {
  background-color: #1b5e20;
}

/* Texto mostrando o nome do arquivo */
.arquivo {
  margin-top: 20px;
  font-size: 16px;
  color: #2e7d32;
}

/* Estilo da seleção de materiais */
.lista-materiais {
  margin-top: 30px;
  display: flex;
  flex-direction: column;
  gap: 12px;
  font-size: 18px;
  color: #ffffff; /* cinza claro */
}

.lista-materiais label {
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
}

/* Botão de voltar */
.btn-voltar {
  display: flex;
  align-items: center;
  gap: 6px;
  color: #2e7d32; /* verde */
  text-decoration: none;
  font-weight: bold;
  position: absolute;
  top: 20px;
  left: 20px;
  padding: 8px 12px;
  border-radius: 6px;
  background-color: #e8f5e9;
  transition: 0.2s;
}

.btn-voltar:hover {
  background-color: #c8e6c9;
}

/*Botão que faz o envio da coleta*/
.btn-registro-coleta {
  padding: 15px 30px;
  background-color: #4CAF50;
  color: white;
  border: none;
  border-radius: 8px;
  font-weight: bold;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.2s;
  margin-top: 50px;
}

