.historico-container {
  padding: 20px;
}

/*Título*/
.titulo-historico {
  font-size: 24px;
  font-weight: bold;
  margin-bottom: 20px;
  color: green;
  background-color: white;
  padding: 20px 20px;
  border-radius: 15px;
}

/*Lista de materiais*/
.lista-coletas {
  list-style: none;
  padding: 0;
}

/*Checkbox lista*/
.item-coleta {
  background: #f0f0f0;
  padding: 12px;
  border-radius: 12px;
  margin-bottom: 15px;
  display: flex;
  gap: 12px;
  align-items: center;
}

.foto-coleta {
  width: 90px;
  height: 90px;
  object-fit: cover;
  border-radius: 10px;
  background: #ddd;
}

/*Informações sobre da coleta*/
.info-coleta {
  flex: 1;
}

/*Data*/
.data-coleta {
  font-weight: bold;
  margin-bottom: 4px;
}

/*Materiais registrados*/
.materiais-coleta {
  font-size: 14px;
  color: #555;
}

/*Pontos maracdos*/
.pontos-coleta {
  margin-top: 6px;
  color: green;
  font-size: 16px;
}

/*Caixa para cada regsitro*/
.item-coleta {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: white;
  padding: 15px;
  border-radius: 12px;
  margin-bottom: 20px;
}

/*Pontos para excluir regsitro*/
.botao-excluir {
  background-color: green;
  color: white;
  border: none;
  padding: 10px 14px;
  border-radius: 8px;
  cursor: pointer;
  font-weight: bold;
}

.botao-excluir:hover {
  background-color: #45a049;
}

/*Tela de confirmação*/
.popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0,0,0,0.6);
  display: flex;
  align-items: center;
  justify-content: center;
}

/*Caixa e texto popup*/
.popup {
  background: white;
  color: black;
  padding: 25px;
  border-radius: 12px;
  width: 80%;
  max-width: 320px;
  text-align: center;
  box-shadow: 0 0 15px rgba(0,0,0,0.3);
}

/*Posição botões*/
.popup-botoes {
  display: flex;
  justify-content: center;
  gap: 15px;
  margin-top: 18px;
}

/*Botão de confirmação SIM*/
.popup-sim {
  background-color: #2e7d32;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 10px;
  font-weight: bold;
  cursor: pointer;
}
/*Botão de confirmação NÃO*/
.popup-nao {
  background-color: #c62828;
  color: white;
  padding: 10px 20px;
  border: none;
  border-radius: 10px;
  font-weight: bold;
  cursor: pointer;
}

/*Cabeçalho histórico*/
.header-historico {
  display: flex;
  align-items: center;
  justify-content: space-between;
  background: white;
  padding: 1px 20px;
  height: auto;
  border-radius: 10px;
  margin-bottom: 20px;
}

/*Botão de voltar*/
.botao-voltar-historico {
  background-color: green;
  color: white;
  padding: 8px 14px;
  border-radius: 8px;
  font-weight: bold;
  display: flex;
  align-items: center;
  gap: 6px;
  text-decoration: none;
}

/*Botão de voltar*/
.botao-voltar-historico:hover {
  background-color: #45a049
}
/*Botão de voltar*/
.seta-esquerda {
  font-size: 18px;
  font-weight: bold;
  color: white;
}