/* Fundo verde da tela */
.login-container {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #4CAF50; /* verde do app */
}

/* Retângulo cinza centralizado */
.login-box {
  background-color: #2f2f2f; /* cinza escuro */
  padding: 40px;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 350px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.3);
}

/* Título LOGIN */
.login-title {
  color: white;
  font-size: 36px;
  margin-bottom: 30px;
  font-weight: bold;
}

/* Formulário */
.login-form {
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 15px;
}

.login-form input {
  padding: 12px;
  border-radius: 8px;
  border: 1px solid white;
  background-color: #cccfdb; /* mesma cor do fundo da tela */
  color: rgb(70, 70, 70);
  font-size: 16px;
}

/*Informações do usuário*/
.login-form input::placeholder {
  color: rgb(70, 70, 70); 
}

.bt-login {
  margin-top: 10px;
  width: 100%;
  padding: 12px;
  background: white;
  color: green;
  border: none;
  border-radius: 8px;
  font-size: 14px;
  font-weight: bold;
  cursor: pointer;
  transition: 0.2s;
}

.bt-login:hover {
  opacity: 0.8;
  transform: scale(1.05);
}

